*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./image/CPXdBM4.png ");
    width: 100%;
    margin: 0;
    height: 100vh;
    background-size: cover;
}

.main{
    margin-top: 20px;
    height: 100px;
    width: 450px;
    background-color: rgba(127, 255, 212, 0.712);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #f2f2f2;
}

.container{
    background-color: rgba(127, 255, 212, 0.473);
    height: 650px;
    width: 1000px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

 #add, #camAdd, #sigAdd {
    height: 50px;
    width: 330px; 
    padding: 8px;
    cursor: pointer;
    border: solid 1px #f2f2f2;
    background-color: rgba(127, 255, 212, 0.541);
    border-radius: 10px;
    font-size: 16px;
    flex-direction: row;
    font-family: 'Comfortaa', cursive;
}



.main h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    font-style: inherit; 
    padding-top: 15px; 
    font-family: 'Comfortaa', cursive; 
    margin-top: 10px;
}

.container .button{
    text-align: center;

}

.off, .on, .minus_temp, .plus_temp, .Rec, .Live, .Day, .Night{
    height: 50px;
    width: 100px; 
    padding: 8px;
    cursor: pointer;
    border: solid 1px #f2f2f2;
    background-color: rgba(127, 255, 212, 0.541);
    border-radius: 10px;
    font-size: 20px;
    flex-direction: row;
    margin-top: 50px;
    font-family: 'Comfortaa', cursive;

}

.sig, .cam, .cond{
    font-size: 40px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.stateChange{
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}

.conDiv, .camDiv, .sigDiv{
    font-size: 50px;
    height: 50px;
    width: 1000px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.tempV, .lg, .mode, .typeCam{
    font-size: 30px;
    height: 50px;
    width: 1000px;
    cursor: pointer;
    margin-top: 50px;
    text-align: left;
    font-family: 'Comfortaa', cursive;
    margin-left: 15px;
}